.DS_Store
**/.DS_Store
*/.DS_Store
.AppleDouble
.LSOverride
__MACOSX
.Spotlight-V100
.Trashes
.venv/
__pycache__/
*.py[cod]
*.sqlite
*.sqlite-*
processing/data/

.env*

raw_screenshots/*
!raw_screenshots/.gitkeep
